<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="referrer" content="no-referrer">
    <meta name="robots" content="noindex">
    <meta name="googlebot" content="noindex">
    <meta name="description" content="{{ newTitle }}">
    <meta name="og:sitename" content="{{ siteName }}">
    <meta name="og:title" content="{{ title|escape('html') }}">
    <meta name="og:description" content="{{ newTitle|escape('html') }}">
    <meta name="og:type" content="video.movie">
    <meta name="og:image" content="{{ poster }}">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="{{ title|escape('html') }}">
    <meta name="twitter:description" content="{{ newTitle|escape('html') }}">
    <meta name="twitter:image" content="{{ poster }}">
    <title>{{ newTitle|escape('html') }}</title>
    <link rel="preconnect dns-prefetch" href="{{ baseURL }}">
    <link rel="preconnect dns-prefetch" href="https://www.gstatic.com">
    <link rel="preconnect dns-prefetch" href="https://www.googleapis.com">
    <link rel="preconnect dns-prefetch" href="https://www.googletagmanager.com">
    <link rel="preconnect dns-prefetch" href="https://www.google.com">
    <link rel="preconnect dns-prefetch" href="https://www.google-analytics.com">
    <link rel="preconnect dns-prefetch" href="https://fonts.gstatic.com">
    <link rel="preconnect dns-prefetch" href="https://googleusercontent.com">
    <link rel="preconnect dns-prefetch" href="https://lh3.googleusercontent.com">
    <link rel="preconnect dns-prefetch" href="https://drive-thirdparty.googleusercontent.com">
    <link rel="shortcut icon" href="{{ baseURL }}favicon.ico" type="image/ico">
    {{ plyrCustomCss }}
    <link rel="stylesheet" type="text/css" href="{{ baseURL }}assets/css/player-v{{ cssPlayerVer ~ minify }}.css">
    <style type="text/css">
        #btnServer,
        #servers li a:hover,
        #servers li a:focus,
        #servers li a.active,
        #fakePlayButton>.play-button:hover,
        #resume_yes
        {
            background-color: {{playerColor}}!important
        }
        .loading-spinner
        {
            border-top-color: {{playerColor}}!important
        }
        #btnServer,
        #fakePlayButton>.play-button:hover
        {
            border-color: {{playerColor}}!important
        }
    </style>
    <script type="text/javascript" src="{{ baseURL }}assets/vendor/jquery/3.7.1/jquery{{ minify }}.js"></script>
    {% if productionMode %}
        <script type="text/javascript" src="{{ baseURL }}assets/vendor/dd.js"></script>
        <script type="text/javascript">
            (function(){var devToolsOpened=false;if(typeof devtoolsDetector!=="undefined"){devtoolsDetector.addListener(function(isOpen,event){devToolsOpened=isOpen});devtoolsDetector.launch()}setInterval(function(){if(devToolsOpened){if(typeof window.jwp!=="undefined"){window.jwp.destroy()}else if(typeof window.gdPlyr!=="undefined"){window.gdPlyr.destroy()}if(typeof jQuery!=="undefined"){var $=jQuery;if($("#mContainer").length){$("#mContainer").show()}if($("#loading").length){$("#loading").hide()}if($("#message").length){$("#message").html('Do not open Developer Tools! <a href="javascript:void(0)" onclick="location.href=location.href">Reload</a>')}if($("#videoContainer").length){$("#videoContainer").remove()}$(document).ajaxSend(function(event,jqXHR,settings){jqXHR.abort()})}window.location.href="https://google.com"}},1000)})();
        </script>
    {% endif %}
    <script type="text/javascript">{{ jsVars }}</script>
    {{ GA }}
    {{ GTM_Head }}
</head>