<div class="row">
	<div class="col-12 col-md-6">
		<div class="form-group">
			<label for="main_site">
				Main Site Homepage URL
			</label>
			<input type="url" name="main_site" id="main_site" placeholder="Example: http://mainsite.com/" class="form-control" value="{{ main_site }}" required>
			<small class="form-text text-muted">
				Main site as public video player generator. If someone accesses the video player generator from a load balancer site then they will be redirected to this main site.
			</small>
		</div>
		<div class="form-group">
			<label for="timezone">
				Timezone
			</label>
			<select name="timezone" id="timezone" class="form-control select2">
				{% for dt in timezone_list %}
					<option value="{{ dt }}" {{ dt == timezone ? 'selected' : '' }}>
						{{ dt }}
					</option>
				{% endfor %}
			</select>
		</div>
		<div class="form-group">
			<div class="custom-control custom-checkbox">
				<input type="hidden" name="production_mode" value="false">
				<input type="checkbox" class="custom-control-input" id="production_mode" name="production_mode" value="true" {{ production_mode ? 'checked' : '' }}>
				<label class="custom-control-label" for="production_mode">
					Production Mode
				</label>
			</div>
			<small class="form-text text-muted">
				If you enabled this option, we will encrypt the javascript code.
			</small>
		</div>
		<div class="form-group">
			<div class="custom-control custom-checkbox">
				<input type="hidden" name="load_balancer_rand" value="false">
				<input type="checkbox" class="custom-control-input" id="load_balancer_rand" name="load_balancer_rand" value="true" {{ load_balancer_rand ? 'checked' : '' }}>
				<label class="custom-control-label" for="load_balancer_rand">
					Video Stream Rand
				</label>
			</div>
			<small class="form-text text-muted">
				Checked = Direct URL (stream) video will be selected from alternative source randomly.
				<br>
				Unchecked = A list of alternative hosts will be displayed on the embed page.
			</small>
		</div>
		<div class="form-group">
			<div class="custom-control custom-checkbox">
				<input type="hidden" name="disable_validation" value="false">
				<input type="checkbox" class="custom-control-input" id="disable_validation" name="disable_validation" value="true" {{ disable_validation ? 'checked' : '' }}>
				<label class="custom-control-label" for="disable_validation">
					Disable Validation
				</label>
			</div>
			<small class="form-text text-muted">
				If you enable this option then CORS Policy and token validation are disabled. Be careful using this feature as your site is vulnerable to DDoS attacks.
			</small>
		</div>
		<div class="form-group d-none">
			<div class="custom-control custom-checkbox">
				<input type="hidden" name="enable_reverse_proxy" value="false">
				<input type="checkbox" class="custom-control-input" id="enable_reverse_proxy" name="enable_reverse_proxy" value="true" checked disabled>
				<label class="custom-control-label" for="enable_reverse_proxy">
					Enable Reverse Proxy
					<small class="badge badge-danger">
						Experimental
					</small>
				</label>
			</div>
			<small class="form-text text-muted">
				If you enable this option, the reverse proxy feature at the Apache/Litespeed/Nginx server level will be used.
			</small>
		</div>
		<div class="form-group">
			<div class="custom-control custom-checkbox">
				<input type="hidden" name="select_active_connections" value="false">
				<input type="checkbox" class="custom-control-input" id="select_active_connections" name="select_active_connections" value="true" {{ select_active_connections ? 'checked' : '' }}>
				<label class="custom-control-label" for="select_active_connections">
					Enable Least Connections Mode
				</label>
			</div>
			<small class="form-text text-muted">
				If you enable this option, the load balancer will be selected based on the lowest resource usage.
			</small>
		</div>
		<div class="form-group">
			<div class="custom-control custom-checkbox">
				<input type="hidden" name="enable_cache_file" value="false">
				<input type="checkbox" class="custom-control-input" id="enable_cache_file" name="enable_cache_file" value="true" {{ enable_cache_file ? 'checked' : '' }}>
				<label class="custom-control-label" for="enable_cache_file">
					Enable Proxy Cache Files
				</label>
			</div>
			<small class="form-text text-muted">
				If you enable this option, the video files in the database are stored on your server as a local cache.
			</small>
		</div>
		<div class="form-group">
			<div class="custom-control custom-checkbox">
				<input type="hidden" name="disable_bg_download" value="false">
				<input type="checkbox" class="custom-control-input" id="disable_bg_download" name="disable_bg_download" value="true" {{ disable_bg_download ? 'checked' : '' }}>
				<label class="custom-control-label" for="disable_bg_download">
					Disable Background MP4 Video Download
					<small class="badge badge-success">New!</small>
				</label>
			</div>
			<small class="form-text text-muted">
				If you enable this option, mp4 video files are not created as local cache. HLS/MPD videos are not affected by this option.
			</small>
		</div>
		<div class="form-group">
			<label for="cache_file_timeout">
				Proxy Cache Files Timeout
			</label>
			<div class="input-group">
				<input type="number" class="form-control" name="cache_file_timeout" id="cache_file_timeout" placeholder="Insert Proxy Cache Timeout" value="{{ cache_file_timeout }}">
				<div class="input-group-append">
					<div class="input-group-text">
						Seconds
					</div>
				</div>
			</div>
			<small class="form-text text-muted">
				Cache files will be deleted after they expire to save storage space. Default: 3600 seconds.
			</small>
		</div>
		<div class="form-group">
			<label for="cache_mode">
				Proxy Cache Files Read Mode
				<small class="badge badge-success">
					New!
				</small>
			</label>
			<select name="cache_mode" id="cache_mode" class="custom-select">
				<option value="php" {{ 'php' == cache_mode ? 'selected' : '' }}>
					PHP File Handler
				</option>
				<option value="apache" {{ 'apache' == cache_mode ? 'selected' : '' }}>
					Apache X-Sendfile
				</option>
				<option value="litespeed" {{ 'litespeed' == cache_mode ? 'selected' : '' }}>
					Litespeed X-Litespeed-Location
				</option>
				<option value="nginx" {{ 'nginx' == cache_mode ? 'selected' : '' }}>
					Nginx X-Accel-Redirect
				</option>
			</select>
		</div>
		<div class="form-group">
			<div class="custom-control custom-checkbox">
				<input type="hidden" name="gphotos_hls" value="false">
				<input type="checkbox" class="custom-control-input" id="gphotos_hls" name="gphotos_hls" value="true" {{ gphotos_hls ? 'checked' : '' }}>
				<label class="custom-control-label" for="gphotos_hls">
					Enable Google Photos HLS Mode
					<small class="badge badge-success">New!</small>
				</label>
			</div>
			<small class="form-text text-muted">
				If you enable this option, Google Photos videos will prioritize using HLS videos if Google Photos is bypassed.
			</small>
		</div>
		<div class="form-group">
			<div class="custom-control custom-checkbox">
				<input type="hidden" name="gdrive_hls" value="false">
				<input type="checkbox" class="custom-control-input" id="gdrive_hls" name="gdrive_hls" value="true" {{ gdrive_hls ? 'checked' : '' }}>
				<label class="custom-control-label" for="gdrive_hls">
					Enable Google Drive HLS Mode
					<small class="badge badge-success">New!</small>
				</label>
			</div>
			<small class="form-text text-muted">
				If you enable this option, Google Drive videos will prioritize using HLS videos if Google Drive is bypassed.
			</small>
		</div>
		<div class="form-group">
			<div class="custom-control custom-checkbox">
				<input type="hidden" name="gdrive_copy" value="false">
				<input type="checkbox" class="custom-control-input" id="gdrive_copy" name="gdrive_copy" value="true" {{ gdrive_copy ? 'checked' : '' }}>
				<label class="custom-control-label" for="gdrive_copy">
					Enable Always Copy Google Drive Files
				</label>
			</div>
			<small class="form-text text-muted">
				If you enable this option, Google Drive videos embedded will be backed up to any Google Drive account.
			</small>
		</div>
		<div class="form-group">
			<div class="custom-control custom-checkbox">
				<input type="hidden" name="gdrive_copy_all" value="false">
				<input type="checkbox" class="custom-control-input" id="gdrive_copy_all" name="gdrive_copy_all" value="true" {{ gdrive_copy_all ? 'checked' : '' }}>
				<label class="custom-control-label" for="gdrive_copy_all">
					Enable Always Copy Google Drive Files to All Accounts
				</label>
			</div>
			<small class="form-text text-muted">
				If you enable this option, Google Drive videos embedded will be backed up to all Google Drive accounts.
			</small>
		</div>
		<div class="form-group">
			<label for="visit_counter">
				Visit Counter
			</label>
			<input type="number" min="1" class="form-control" name="visit_counter" id="visit_counter" placeholder="Insert Max. Views Per Video/IP" value="{{ visit_counter }}">
			<small class="form-text text-muted">
				Maximum number of views per Video/IP within 24 hours.
			</small>
		</div>
		<div class="form-group">
			<label for="visit_counter_runtime">
				Visit Counter Running Time
			</label>
			<div class="input-group">
				<input type="number" class="form-control" name="visit_counter_runtime" id="visit_counter_runtime" placeholder="Insert Visit Counter Running Time" value="{{ visit_counter_runtime }}">
				<div class="input-group-append">
					<div class="input-group-text">
						Seconds
					</div>
				</div>
			</div>
			<small class="form-text text-muted">
				The visit counter will run once the video is played equal to/more than that time.
			</small>
		</div>
	</div>
	<div class="col-12 col-md-6">
		<div class="form-group">
			<label for="import_offset">
				Import Videos Per Page
			</label>
			<small class="badge badge-success">
				New!
			</small>
			<div class="input-group">
				<input type="number" class="form-control" name="import_offset" id="import_offset" placeholder="Import Videos Per Page" min="0" value="{{ import_offset }}">
				<div class="input-group-append">
					<div class="input-group-text">
						Rows
					</div>
				</div>
			</div>
			<small class="form-text text-muted">
				You should set the number of videos per page when extracting and saving videos from CSV file without reducing your server performance. Default: 10 Rows
			</small>
		</div>
		<div class="form-group">
			<label for="import_filesize">
				Import Videos Max. Filesize
			</label>
			<small class="badge badge-success">
				New!
			</small>
			<div class="input-group">
				<input type="number" class="form-control" name="import_filesize" id="import_filesize" placeholder="Import Videos Per Page" min="1024" value="{{ import_filesize }}">
				<div class="input-group-append">
					<div class="input-group-text">
						kB
					</div>
				</div>
			</div>
			<small class="form-text text-muted">
				You should manage the CSV file size without reducing your server performance. Default: 1024 kB
			</small>
		</div>
		<div class="form-group">
			<label for="maxmind_license_key">
				MaxMind License Key
			</label>
			<input type="text" class="form-control" name="maxmind_license_key" id="maxmind_license_key" value="{{ maxmind_license_key }}" placeholder="Insert MaxMind License Key">
			<small class="form-text text-muted">
				You need MaxMind License Key to update GeoIP information for validation system to work properly to avoid DDoS attacks.
			</small>
		</div>
		<div class="form-group">
			<label for="anti_captcha">
				<a href="https://bit.ly/3rCQPtU" target="_blank" rel="noopener">
					Anti-Captcha
				</a>
				API Key
			</label>
			<input type="text" class="form-control" name="anti_captcha" id="anti_captcha" value="{{ anti_captcha }}" placeholder="Insert Anti-Captcha API Key">
			<small class="form-text text-muted">
				This Anti-Captcha API key will be used to fetch videos from various hostings. Ex. To get DoodStream sources, get Uptobox multi-resolution
			</small>
		</div>
		<div class="form-group">
			<label for="google_analytics_id">
				<a href="https://analytics.google.com/" target="_blank" rel="noopener">
					Google Analytics
				</a>
				ID
			</label>
			<input type="text" class="form-control" name="google_analytics_id" id="google_analytics_id" placeholder="Example: UA-123456" value="{{ google_analytics_id }}">
		</div>
		<div class="form-group">
			<label for="google_tag_manager">
				<a href="https://tagmanager.google.com/" target="_blank" rel="noopener">
					Google Tag Manager
				</a>
				ID
			</label>
			<input type="text" class="form-control" name="google_tag_manager" id="google_tag_manager" placeholder="Example: GTM-123456" value="{{ google_tag_manager }}">
		</div>
		<div class="form-group">
			<label for="histats_id">
				<a href="https://www.histats.com/" target="_blank" rel="noopener">
					Histats
				</a>
				SID
			</label>
			<input type="text" class="form-control" name="histats_id" id="histats_id" placeholder="Insert Histats SID" value="{{ histats_id }}">
		</div>
		<div class="form-group">
			<label for="recaptcha_site_key">
				<a href="https://www.google.com/recaptcha/admin" target="_blank" rel="noopener">
					Google ReCaptcha
				</a>
				Site Key
			</label>
			<input type="text" class="form-control" name="recaptcha_site_key" id="recaptcha_site_key" placeholder="Insert Google ReCaptcha Site Key" value="{{ recaptcha_site_key }}">
		</div>
		<div class="form-group">
			<label for="recaptcha_secret_key">
				Google ReCaptcha Secret Key
			</label>
			<input type="text" class="form-control" name="recaptcha_secret_key" id="recaptcha_secret_key" placeholder="Insert Google ReCaptcha Secret Key" value="{{ recaptcha_secret_key }}">
		</div>
		<div class="form-group">
			<label for="disqus_shortname">
				Disqus Shortname
			</label>
			<div class="input-group">
				<input type="text" name="disqus_shortname" id="disqus_shortname" placeholder="Insert Disqus Shortname" class="form-control" value="{{ disqus_shortname }}">
				<div class="input-group-append">
					<div class="input-group-text">
						.disqus.com
					</div>
				</div>
			</div>
		</div>
		<div class="form-group">
			<label for="chat_widget">Chat Widget Script</label>
			<textarea name="chat_widget" id="chat_widget" cols="30" rows="5" class="form-control" placeholder="Enter the Chat Widget javascript code (with the <script> tag)">{{ chat_widget }}</textarea>
		</div>
	</div>
</div>
