<div class="row">
	<div class="col-12 col-md-6">
		<div class="form-group">
			<div class="custom-control custom-checkbox">
                <input type="hidden" name="anonymous_generator" value="false">
				<input type="checkbox" class="custom-control-input" id="anonymous_generator" name="anonymous_generator" value="true" {{ anonymous_generator ? 'checked' : '' }}>
				<label class="custom-control-label" for="anonymous_generator">Enable Public Pages <span class="badge badge-success">New!</span></label>
			</div>
			<small class="form-text text-muted">If you enable this option, the public can access any front page. If you disable this option, the public cannot access any front page.</small>
		</div>
		<div class="form-group">
			<div class="custom-control custom-checkbox">
                <input type="hidden" name="embed_only" value="false">
				<input type="checkbox" class="custom-control-input" id="embed_only" name="embed_only" value="true" {{ embed_only ? 'checked' : '' }}>
				<label class="custom-control-label" for="embed_only">Enable Embed Only</label>
			</div>
			<small class="form-text text-muted">If you enable this option, the embed url must be accessed with an iframe.</small>
		</div>
		<div class="form-group">
			<div class="custom-control custom-checkbox">
                <input type="hidden" name="enable_request_url" value="false">
				<input type="checkbox" class="custom-control-input" id="enable_request_url" name="enable_request_url" value="true" {{ enable_request_url ? 'checked' : '' }}>
				<label class="custom-control-label" for="enable_request_url">Enable Request/Embed2 URL</label>
			</div>
			<small class="form-text text-muted">If you enable this option, anyone can access /embed2/ or /r/ urls.</small>
		</div>
		<div class="form-group">
			<div class="custom-control custom-checkbox">
                <input type="hidden" name="enable_json_subtitles" value="false">
				<input type="checkbox" class="custom-control-input" id="enable_json_subtitles" name="enable_json_subtitles" value="true" {{ enable_json_subtitles ? 'checked' : '' }}>
				<label class="custom-control-label" for="enable_json_subtitles">Allow Anyone to Insert Subtitle URL</label>
			</div>
			<small class="form-text text-muted">If you enable this option, anyone can insert subtitle url.<br>
				<strong style="word-break:break-all">Example:<br>/embed/?embedslug<span class="text-danger">&amp;subs=https://yoursite.com/movie/subtitles.json</span><br>or<br>/embed/?embedslug<span class="text-danger">&amp;sub[]=https://yoursite.com/movie/en.vtt&amp;lang[]=English</span><br>or<br>/embed/custom-slug/?<span class="text-danger">subs=https://yoursite.com/movie/subtitles.json&amp;sub[]=https://yoursite.com/movie/id.srt&amp;lang[]=Indonesian</span>
				</strong>
			</small>
		</div>
		<div class="form-group">
			<div class="custom-control custom-checkbox">
                <input type="hidden" name="enable_download_page" value="false">
				<input type="checkbox" class="custom-control-input" id="enable_download_page" name="enable_download_page" value="true" {{ enable_download_page ? 'checked' : '' }}>
				<label class="custom-control-label" for="enable_download_page">Enable Download Page</label>
			</div>
			<small class="form-text text-muted">If you enable this option, people can download videos from the download page.</small>
		</div>
		<div class="form-group">
			<div class="custom-control custom-checkbox">
                <input type="hidden" name="show_sub_download" value="false">
				<input type="checkbox" class="custom-control-input" id="show_sub_download" name="show_sub_download" value="true" {{ show_sub_download ? 'checked' : '' }}>
				<label class="custom-control-label" for="show_sub_download">Show Subtitles on Download Page</label>
			</div>
			<small class="form-text text-muted">If you enable this option, subtitles will be displayed on the download page.</small>
		</div>
		<div class="form-group">
			<div class="custom-control custom-checkbox">
                <input type="hidden" name="show_watch_button" value="false">
				<input type="checkbox" class="custom-control-input" id="show_watch_button" name="show_watch_button" value="true" {{ show_watch_button ? 'checked' : '' }}>
				<label class="custom-control-label" for="show_watch_button">Show Watch Button on Download Page</label>
			</div>
			<small class="form-text text-muted">If you enable this option, the watch button on the download page will be shown.</small>
		</div>
	</div>
	<div class="col-12 col-md-6">
		<div class="form-group">
			<div class="custom-control custom-checkbox">
                <input type="hidden" name="enable_gsharer" value="false">
				<input type="checkbox" class="custom-control-input" id="enable_gsharer" name="enable_gsharer" value="true" {{ enable_gsharer ? 'checked' : '' }}>
				<label class="custom-control-label" for="enable_gsharer">Enable Google Sharer Page</label>
			</div>
			<small class="form-text text-muted">If you enable this option, anyone can bypass their Google Drive file limit via the Bypass Limit page.</small>
		</div>
		<div class="form-group">
			<div class="custom-control custom-checkbox">
                <input type="hidden" name="enable_registration" value="false">
				<input type="checkbox" class="custom-control-input" id="enable_registration" name="enable_registration" value="true" {{ enable_registration ? 'checked' : '' }}>
				<label class="custom-control-label" for="enable_registration">Enable Registration Page</label>
			</div>
			<small class="form-text text-muted">If you enable this option, anyone can register.</small>
		</div>
		<div class="form-group">
			<label for="dmca_page_link">DMCA Page URL</label>
			<input type="url" name="dmca_page_link" id="dmca_page_link" class="form-control" placeholder="Insert DMCA page URL" value="{{ dmca_page_link }}">
		</div>
		<div class="form-group">
			<label for="contact_page_link">Contact Page URL</label>
			<input type="url" name="contact_page_link" id="contact_page_link" class="form-control" placeholder="Insert contact page URL" value="{{ contact_page_link }}">
		</div>
		<div class="form-group">
			<div class="custom-control custom-checkbox">
				<input type="checkbox" class="custom-control-input" id="save_public_video" name="save_public_video" value="true" {{ save_public_video ? 'checked' : '' }}>
				<label class="custom-control-label" for="save_public_video">Save Public Video</label>
			</div>
			<small class="form-text text-muted">If you enable this option, every video submitted by the public will be stored in the database.</small>
		</div>
		<div class="form-group">
			<label for="public_video_user">Save Public Videos As User</label>
			<select name="public_video_user" id="public_video_user" class="form-control select2">
				{% for val in user_list %}
					<option value="{{ val.id }}" {{ val.id == public_video_user ? 'selected' : '' }}>{{ val.name }}</option>
				{% endfor %}
			</select>
			<small class="form-text text-muted">Every video submitted by the public will be stored in the database using this user.</small>
		</div>
	</div>
</div>
